:root {
  --Purple50: hsl(260, 100%, 95%);
  --Purple300: hsl(264, 82%, 80%);
  --Purple500: hsl(263, 55%, 52%);
  --White: hsl(0, 0%, 100%);
  --Grey100: hsl(214, 17%, 92%);
  --Grey200: hsl(0, 0%, 81%);
  --Grey400: hsl(224, 10%, 45%);
  --Grey500: hsl(217, 19%, 35%);
  --Dark-blue: hsl(219, 29%, 14%);
  --Black: hsl(0, 0%, 7%);
}

html {
  font-family: "Barlow Semi Condensed", sans-serif;
  align-items: center;
  align-content: center;
  justify-items: center;
}

body {
  background: linear-gradient(to right, var(--Grey100), var(--Grey200));
}

ul {
  list-style: none;
  padding: 2rem;
  /* color transitions */
}

.testimonial {
  padding: 2rem;
  margin: 1rem;
  border-radius: 0.5rem;
  color: var(--White);
}

ul li:nth-child(1) {
  background-color: var(--Purple500);
}

ul li:nth-child(2) {
  background-color: var(--Grey500);

  .grad {
    color: var(--Grey200);
  }
}

ul li:nth-child(3),
li:nth-child(5) {
  background-color: var(--White);

  .topic {
    color: var(--Grey500);
  }

  .description {
    color: var(--Grey400);
  }

  .grad {
    color: var(--Grey400);
  }

  .name {
    color: var(--Grey500);
  }
}

ul li:nth-child(4) {
  background-color: var(--Dark-blue);
}

.person {
  display: flex;
  flex-direction: row;
  width: max-content;
  gap: 1rem;
  align-items: center;
}

.profile {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.name {
  font-size: large;
  margin: 0;
}

.grad {
  margin: 0;
}

.topic {
  font-size: x-large;
  font-weight: bold;
}

/* to add quotation marks before and after the quote */
.description::before {
  content: "\201C";
}

.description::after {
  content: "\201D";
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
